html,body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    background-color: rgb(62, 200, 255); 
}

nav > div {
    position: absolute;
    left: 0;
}

nav#nav > div > img {
    height: 50px;
    width: 50px;
    margin: 10px;
}


